extends layouts/default
block vars
  - title = "This is the index"
  - bodyClass = 'hello-world'

block content
  h1 Woah.
  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic, quo?
  .container
    .row
      .col-2
        span Hello world
        a.foo_link(href='about.html', target='_blank') About Us
        input(
          type='checkbox'
          name='agreement'
          checked
        )
        span(data-json='hello-world')
        a(style={color: 'red', background: 'green'}) Inline style
        ul.bullet-list
          each val in [1, 2, 3, 4, 5]
            li
              a(href='#')=val

        ul
          each val, index in ['zero', 'one', 'two']
            li
              a(href='#')=index + ': ' + val

        +link('this is title', '#', 'This is a link')
        - var msg = "not my inside voice";
        p This is #{msg.toUpperCase()}
        each card in base.cards
          .cards
            h4=card.title
            span=card.desc

        each data in test.tests
          .cards
            h4=data.title

